GENIENLP_EMBEDDINGS ?= ../genienlp/.embeddings
GENIENLP_DATABASE_DIR ?= ../genienlp/dataset/database_dir
geniedir ?= ../genie-toolkit
geniek8s ?= ../genie-k8s
genienlp ?= $(shell which genienlp)
almond_server ?= ../almond-server
multilingual_scripts ?= ./scripts/
credential_file ?=
thingpedia_cli := thingpedia
dataset_folder ?= ./dataset
dataset_dialog_folder ?= ./dataset-dialogs

memsize = 28000
parallel = 1
genie = export GENIENLP_EMBEDDINGS=$(GENIENLP_EMBEDDINGS) ; export GENIENLP_DATABASE_DIR=$(GENIENLP_DATABASE_DIR) ; node --experimental_worker --max_old_space_size=$(memsize) $(geniedir)/tool/genie.js

owner ?= mehrad

project = SPL
all_experiments = restaurants hotels

gt_project_id ?=
gt_project_number ?=
gt_credential_file ?=


thingpedia_developer_key ?=
thingpedia_developer_key_2 ?=

# eval (dev) or test
eval_sets ?= valid test
train_name = train
eval_name = eval
test_name = test

# English(en) Farsi(fa) Italian(it) Chinese(zh) Croatian(hr) Japanese(ja) Korean(ko) Russian(ru) Spanish(es) Swedish(sv)
# Turkish(tr) Hindi(hi) French(fr) German(de) Polish(pl) Arabic(ar) Vietnamese(vi) Yiddish(yi) Portuguese(pt)
# Greek(el) Hebrew(he) Sinhala(si) Tamil(ta) Czech(cs) Danish(da) Finnish(fi) Norwegian(no) Filipino(tl)

all_languages = en fa it zh hr ja ko ru es sv tr hi fr de pl ar vi yi pt el he si ta cs da fi no tl

# wait 10 mins between evaluations
wait_time = 600

# schemaorg directory
schemaorg := ../schemaorg/


# restaurants skill schema args
restaurants_class_name = org.schema.Restaurant
restaurants_white_list = Restaurant,Review
#restaurants_schema_type = Restaurant FoodEstablishment LocalBusiness
restaurants_schema_type = Restaurant FoodEstablishment LocalBusiness

# hotels skill schema args
hotels_class_name = org.schema.Hotel
hotels_white_list = "Hotel Place"
hotels_schema_type = Hotel
